.container {
    height: 150px;
    min-width: 320px;
    max-width: 600px;
    width: calc(100% - 150px);
    border: solid black 2px;
    background-color: hsl(0, 0%, 90%);
    padding: 0;
    margin: 0;
    list-style: none;
    /* HACK to avoid space between items */
    font-size: 0;
}

.item {
    padding: 10px;
    color: white;
    background-color: hsl(0, 100%, 30%, 50%);
    border: solid hsl(0, 0%, 0%, 25%) 2px;

    /* HACK to avoid space between items */
    font-size: 0.7rem;
}

.wrapper {
    position: relative;
    left: 10px;
    top: 25px;
}

.sample-arrow {
    bottom: 10px;
    left: 0;
    height: 100px;
    transform: rotate(90deg);
}

.arrow {
    position: absolute;
    transform-origin: bottom center;
}


.arrow::before {
    position: absolute;
    height: 0;
    width: 0;
    content: "";
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.red-arrow {
    border: 4px dashed hsl(120, 100%, 40%, 70%);
}

.red-arrow::before {
    border: 12px solid transparent;
    border-bottom: 16px solid hsl(120, 100%, 40%, 70%);
}

.green-arrow {
    border: 2px dashed hsl(0, 50%, 50%, 70%);
}

.green-arrow::before {
    border: 6px solid transparent;
    border-bottom: 8px solid hsl(0, 50%, 50%, 70%);
}
